<!--Main Navigation-->
<header>
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#" style="font-family: 'Montserrat', sans-serif;"><strong>Alina Verbenchuk</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CV</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mentoring</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@alinaverbenchuk">Blog</a>
          </li>
        </ul> -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="https://www.linkedin.com/in/alinaverbenchuk/">
                            <i class="fa fa-linkedin light-green-text-2"></i>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@alinaverbenchuk">
                            <i class="fa fa-medium light-green-text-2"></i>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/alina.verbenchuk">
                            <i class="fa fa-facebook light-green-text-2"></i>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/alinaverben/?hl=en">
                            <i class="fa fa-instagram light-green-text-2"></i>
                        </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCMlPJ5p0Ingap8uk82ZFMdA?view_as=subscriber&pbjreload=10">
                            <i class="fa fa-youtube light-green-text-2"></i>
                        </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://lh3.googleusercontent.com/mqDNyMngkVENOlLiAxYdzkS3rGSuiCxWpsQiutqqZx3Ff8HDVc6tbsWTUC0hh-KFjWWVqvqsPM4IiGCv5ILXVMLI2JwZMKIHwA0PvZYUKn7sZftw2F2OoWCcwQqcGSCC4qrwAaXw6sU5kkvsElMxQ_N5Z53AHH1DzOAKAaeHlbxY7qXFwvuQo-Ybyc_LYpm747xxJmSHE8cq1-BGZpECJQcxMrzlenyCzL_oozAavqDFb2E9Cv-36rnrndnOptrl2RoMa3qOzeLt5k2qzF44u-30uoZPwZpZwju3vrogE5tZZpNIBrHZCW-DRZ7lTaR63sKLNjaz-5RVUrH4o81j9YzOCRcEvFHWheXpaf2Nl0ZJNK01OjKmtmevoBlS5Mjjuc5Wd4tIZ7kZw8xW2NgvKibY8XL6hVpgFms9SF0SCq7GxKDJmg-XIDr5HJg8PUzmr4bec_XeCYpexK0QdEGqLrccRG2tSe8Kf_YdYzE3OXBYjzZHzVUaUGtAcSP9sKmw8JpNuBJMje-p_SV5OHJ4MLffNepvOpmxd-KfP22ZR10nXv9L8L4oKgJ3xITMDVYoaeVVqbnoXDWKoGGpfyD-3JVgT-2m8Bi23YnjYwk=w2060-h1374-no); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <router-outlet></router-outlet>
    <!-- Intro Section -->
    <!-- <app-intro></app-intro> -->
    <!-- End of Intro Section -->
  </div>
</header>




