<!--Main Navigation-->
<header>
    
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="#"><strong>Alina Verbenchuk</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mentoring</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-linkedin light-green-text-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-medium light-green-text-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-facebook light-green-text-2"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">
                            <i class="fa fa-instagram light-green-text-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Section -->
      <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://lh3.googleusercontent.com/uyq8W7pz3WubsxgLNnRSa-0dPlJJCE4UDDkhd9RqbZJ5zKnzdIioa_WHYr9Z31g9OddeJKtVLhYm_qeH5hywSPkaH_AVyrLrRdXKiSsVpXtr0drQGvYHi4kBA0mjyuR7tPZO7C_SUcjuuCQk23q5mM2JDpBn1Ux4S8U4ZLO_h8FwXnednvdjgNDvUSt4Ox9Lu0QeGUG0uUB63j5YspFi4ZFxnhKVN8tR_6-pfKChEY4fiVQZsTvWt0QW-WabPiquTGfmKiLoqKUVk640LyMZw9uWpZNalQWnW7lwaBSJgM2o9DIbj6Arhqqx4o24Oo_0E9RTz9Er5U4HzkRoQW1KPvYQNuTEUJSFQ5qjzqhfctXFJBqtb5WpSXIRIGb8VWYgCv_ZZ1g3hzcMPNtG4QlHk5lGSqZRRRUIojozwO1wPjNf-4M9nASPE62joiV1AjN5q2IJPUr_8BuK0b59kFLsHGj2Y-0aIS-I9xfnYbXyrAzzbwVeI7jxmgWf4EsQelJi8n47pXZrfqghk_i7rk5Q3229Sbnz82qZ7OTqOmEfCHqI3ExjjNo6UUynH0eSEklC3hmhoLsRLVYAvpLJ9ob0De69H1UcfL4wj3E2Nto=w1366-h768-no);width:100%;">
        <div class="full-bg-img">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Alina Verbenchuk</strong></h1>
                            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
                            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Education and Career Consulting</strong></h5>
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">About me</a> 
                            <a class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Book a session</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->
<!--Main Navigation-->
<router-outlet></router-outlet>