<div class="full-bg-img">
  <div class="container flex-center">
    <div class="row pt-5 mt-3">
      <div class="col-md-12">
        <div class="text-center">
          <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong>Alina Verbenchuk</strong></h1>
          <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
          <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Tech, Education and career development</strong></h5>
          <a routerLink="/about" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">English</a>
          <a routerLink="/mentoring" class="btn btn-outline-white wow fadeInDown" data-wow-delay="0.4s">Russian</a>
        </div>
      </div>
            
    </div>
  </div>
</div>

