<div class="container flex-center">
  <div class="row pt-5 mt-3 info">
    <div class="col-6" data-wow-delay="0.3s">
      <img src="https://lh3.googleusercontent.com/e1wgSeOTWh2e2ZbE4OCDABjjnc7LiQPDpmpjrfuc_FHvYsTj_e7BHVeK_m8wIlcPwa_rQnZXhTPTa81hirKGbD6Qw9NzAbWn_5_KUtSSo-AFV2af-_B2CyytRiFUn0IkgI8yEhokRdPF95P0wRjywSBYBzA4TEta0-tuyGYl8bvAlyrCwZaCseCpkypV3eoUrWmGPcr3751LYQHzUAFjEoCygvnHMpIUm1KtTW_ZNLCvb22m0uaUeVP_qcSsZWzQ3zUstNRFBFywpyF1lZSADCruDYTXvgLsVf_Gf2_8YhF31QBNGLIn84isuluyIDYfRxUNJdINfNvannFur75Fcsw9xg0vgMCpx5GhAJRaq152Ze4G8WBcFi74Bk3lWeV3MoY_2mvvA6zh2zNZMUqOzJz19GWgLuUAwfzIqj_ENWoSdEDGZ-fadnm-dRaEJ2o88IzLw2IJXIF0Rs9zQ3No3MkDELUGaghgBhmkIY8-zbXlTrY4tuWMKUbelWPRZQen5uB_LLE7tlN1qQG0LasgeIfKcW3hm4VRXOwweAv0lmB75WDs3Ls4DoCWrTwFqp7nZfjCeEOWt1yOa8ROdfaKdJBQyf-rFo8bpphkCWo=w2018-h1344-no" style="width: 100%;">
    </div>
    <div class="col-6">
      <div class="text-left">
        <p class="h1-reponsive white-text font-light mb-3 wow fadeInDown" data-wow-delay="0.3s">Hi everyone! I'm Alina, I work in tech, media and education. I mentor students and young professionals on how to achieve their goals in career and education.</p>
        <br>
        <p class="h1-reponsive white-text font-light mb-3 wow fadeInDown" data-wow-delay="0.3s">I was born in Novosibirsk, Russia, but moved a lot in my life. I lived in Russia, China, Hong Kong, Poland and currently I live in London. I have a Specialist Degree in Oriental Studies, and Master Degree in International Management (CEMS). I worked at Google and YouTube and was doing a lot of small startup projects myself. I gave a lot to work, but very little was left for me, and at a certain point an unavoidable burnout came calling. Today, look at both work and life in general in a completely different way.</p>
        <a class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>Resume</a>
        <a href="mailto:alina.verbenchuk@gmail.com" class="btn btn-outline-white wow fadeInDown waves-light" data-wow-delay="0.4s" mdbRippleRadius>Contact me</a>
      </div>
    </div>
  </div>
</div>
